<section class="ttm-row about-section clearfix">

  <div class="container">
    <div class="row">
      <div class="col-lg-7 col-sm-12">
        <div class="pr-80 res-991-pr-0">
          <!-- section title -->
          <div class="section-title pr-60 res-991-pr-0 clearfix">
            <div class="title-header">
              <h2 class="title">
                About Us</h2>
            </div>
            <div class="title-desc">
              <p>
                NEROL Company was established in 1979 in Cairo, Egypt. Initially, its activities were confined to
                manufacturing and distributing detergents. Later on in 1989 NEROL expanded its activities by providing a
                wide range of chemical raw materials needed in Egyptian industries; including personal care ,cosmetics,
                home care ,detergents, painting ,coating, textile, oil and drilling industries.</p>
              <br>
              <br>
              <div style="position: absolute; left: -761552px;">
                <h2>Sopot</h2>
                <p>Sąsiadujący z miastem Sopot jest letnią stolicą imprez, najlepszych gier hazardowych w <a
                    href="http://topkasynoonline.com/kasyna-w-sopotu/">Sopot kasyno</a> z długimi piaszczystymi plażami
                  i najlepszym życiem nocnym w Trójmieście. Warto wybrać się do nowoczesnego miasta, zjeść pyszne
                  jedzenie w restauracji Meridian lub kupić ręcznie robione wyroby z bursztynu. Gdańsk położony jest na
                  wybrzeżu Bałtyku, gdzie ponad tysiącletnia historia miesza się z nowoczesnością, przyjemnymi uliczkami
                  i niepowtarzalną atmosferą. Trójmiasto to dopingujące doświadczenie.</p>
              </div>
              <h2 class="title">
                Our Mission</h2>
              <br>
              <p>
                To identify our customers interests and provide them the innovated products with the most competitive
                prices and the highest quality in order to meet their industrial needs.</p>
              <br>
              <br>
              <u><a class="ttm-textcolor-skincolor" href="mission">Read More</a></u>
            </div>
          </div><!-- section title end -->
        </div>
      </div>
      <div class="col-lg-5 col-sm-12">
        <div class="ml_30 res-991-ml-0 res-991-mt-30 position-relative">

          <!-- ttm_single_image-wrapper -->
          <div class="ttm_single_image-wrapper w100 p-12 with-border">
            <img class="img-fluid" src="https://www.neroleg.com/img.php?img=1671623243.jpg&amp;w=511&amp;h=490"
              title="single-img-one" alt="NEROL">
          </div><!-- ttm_single_image-wrapper end -->

          <!--featured-icon-box-->
          <div class="featured-icon-box style2 left-icon ttm-bgcolor-skincolor">
            <a href="" class="ttm_prettyphoto">
              <img src="https://www.neroleg.com/assets/site/en/images/ttm-playicon-30x30.png" alt="play-icon"
                class="ttm_prettyphoto">
            </a>
            <div class="featured-content">
              <div class="featured-title">
                <h5>Play Video</h5>
              </div>
            </div>
          </div><!-- featured-icon-box end-->
        </div>
      </div>
    </div>
  </div>
</section>
