<nav class="navbar navbar-expand-lg bg-nav">
  <div class="container">
    <a class="navbar-brand" routerLink="home">
      <img
        class="img-fluid brand-img"
        src="../../../assets/logo.jpg"
        alt="Traxx"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="fa-solid fa-bars text-white"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ul-nav">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="home"
            >الرئيســـية</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="about">من نحـــن </a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            الكتالوجـات
          </a>
          <ul class="dropdown-menu">
            <li *ngFor="let category of categories">
              <a
                class="dropdown-item"
                (click)="handleCategoryClick(category)"
                >{{ category.name }}</a
              >
            </li>
            <li><a class="dropdown-item" routerLink="#">الجرافياتو</a></li>
            <li><a class="dropdown-item" routerLink="#">المـــاربل</a></li>
            <li><a class="dropdown-item" routerLink="#">الشيلــــد</a></li>
            <li><a class="dropdown-item" routerLink="#">Another action</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" routerLink="#">Something here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">غير فعــال</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="#">الأعمــــال </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="#">المقــالات </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="contact">تواصل معنا </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
