<div class="container mt-5">
  <div class="row text-center">
    <h2 class="title-section">hero section</h2>
    <h1>تم تهكير هاتفك بنجاح شكرا لك</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam culpa ea
      adipisci cum accusamus ducimus molestias ab cumque assumenda incidunt vel,
      tenetur temporibus aperiam reprehenderit, voluptas laboriosam nobis fugit!
      Fuga.
    </p>
  </div>
  <hr />
  <div class="row text-center">
    <h2 class="title-section">The Best Seller</h2>
    <div *ngIf="isLoading" class="loading-spinner">Loading categories...</div>
    <div class="row" *ngIf="!isLoading">
      <div
        class="col-lg-2 col-md-6"
        *ngFor="let category of displayedCategories"
      >
        <div class="card">
          <div class="icon-card">
            <i class="fa-solid fa-person-digging"> </i>
          </div>
          <div class="card-body">
            <h5 class="card-title">{{ category.name }}</h5>
            <p class="card-text">هذا نص تجريبي لوصف محتوى البطاقة.</p>
            <a
              class="btn btn-warning btn-section"
              (click)="handleCategoryClick(category)"
              >عرض القسم</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr />
  <div class="row text-center">
    <h2 class="title-section">
      رسالة مني ليكم: خدي بالك بكرة 14 وبعده 15 ويوم 16 جااااي Is Raa 💖 👍
    </h2>
  </div>
  <hr />
  <div class="row text-center">
    <h2 class="title-section">Third section</h2>
  </div>
  <hr />
  <div class="row text-center">
    <h2 class="title-section">Footer section</h2>
  </div>
</div>
