<div class="container mt-5">
  <div class="row">
    <div class="col-lg-3 col-md-6" *ngFor="let product of productsList">
      <div class="card">
        <div class="icon-card">
          <i class="fa-solid fa-person-digging"> </i>
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ product.name }}</h5>
          <p class="card-text">{{ product.description }}</p>
          <a href="#" class="btn btn-warning btn-section">عرض تفاصيل اكثر</a>
        </div>
      </div>
    </div>
  </div>
</div>
