@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap");

$primary-color: rgb(6, 22, 58);

body {
  direction: rtl;
  text-align: right;
  margin: 0;
  padding: 0;
  font-family: "Cairo", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}
* {
  box-sizing: border-box;
}
.row {
  justify-content: center;
}
